---
import ThemeRadios from "@components/themes/ThemeRadios.astro";
import TitleBar from "@components/TitleBar.astro";
import JsOnly from "./JsOnly.astro";
import { useTranslations } from "../i18n/utils";
import SwitchLanguage from "@components/SwitchLanguage.astro";

const { links } = Astro.props;

const t = useTranslations(Astro.currentLocale);
const SETTINGS_OPEN = t(a=> a.settings?.open);
const SETTINGS_CLOSE = t(a=> a.settings?.close);
const DEFAULT_THEME = "space";
---
  <div id="config-container" class="window hidden">
    <JsOnly>
      <TitleBar title={t(a=> a.settings?.title)}/>
      <div id="config" class="window-body">
        <fieldset id="config-theme">
          <legend>{t(a=> a.settings?.themeTitle)}</legend>
          <ThemeRadios selected={DEFAULT_THEME} />
        </fieldset>
      </div>
    </JsOnly>
  </div>
  <div id="theme-button-slot">
    <JsOnly><button id="theme-toggle" data-open={SETTINGS_OPEN} data-close={SETTINGS_CLOSE}>{SETTINGS_OPEN}</button></JsOnly>
    <SwitchLanguage {links} />
  </div>
<style lang="less">
  @import (reference) "@css/themes.less";

  #config-container {
    display: none;
    visibility: hidden;
  }

  #config-container {
    display: block;
    visibility: visible;
  }

  #config-container.hidden {
    display: none;
  }

  #theme-button-slot {
    display: flex;
    justify-items: right;
    #theme-toggle {
      flex: 0 1 100%;
    }
  }

  :global(#switchLanguage) {
    flex: 0 1 40%;
    text-align: right;
  }

  html.theme-98 #theme-button-slot {
    min-height: 23px;
  }

  @media (min-aspect-ratio: @aspect-ratio-mobile) {
    #theme-button-slot {
      position: absolute;
      align-self: flex-end;
      right: 10px;
      width: 20%;
    }
    :global(#switchLanguage) {
      flex: 0 1 100%;
    }
  }
  
</style>


<script>
  const THEME_STORAGE_KEY = "theme";
  const DEFAULT_THEME = "space";

  function saveTheme(name: string) {
      localStorage.setItem(THEME_STORAGE_KEY, name);
      document.documentElement.classList.value = "theme-" + name;
  }
  document.addEventListener("jsonly", () => {
    // close theme window
    document.querySelector('#config-container [aria-label=Close]')?.addEventListener("click", e => showConfig(false));
    
    let isConfigOpen = false;

    const configWindow = document.getElementById("config-container");
    const themeToggle = document.getElementById("theme-toggle");

    themeToggle?.addEventListener("click", () => showConfig(isConfigOpen = !isConfigOpen));

    const currentTheme = localStorage.getItem(THEME_STORAGE_KEY);

    // if failed to select the current theme radio, select the default one
    if(!(currentTheme && selectThemeRadio(currentTheme))) {
      console.debug("oh noes");
      selectThemeRadio(DEFAULT_THEME);        
      
    }
    
    // save theme on toggle
    document.querySelectorAll('.theme-option').forEach(i => i.addEventListener("change", (e) => saveTheme(e.target.dataset.theme))); 


    function showConfig(show: boolean) {
      if(configWindow && themeToggle) {
        if(show) {
          configWindow.classList.remove("hidden");
          themeToggle.innerText = themeToggle.dataset.close ?? "";
        } else {
          configWindow.classList.add("hidden");
          themeToggle.innerText = themeToggle.dataset.open ?? "";
        }
      }
      
    }

    function selectThemeRadio(themeSlug: string) {
      const radio = document.querySelector('#theme-radio-' + themeSlug);
      if(radio) {
        radio.checked = true;
      }
      return !!radio;
    }
  });
  
</script>