---
import { Picture } from "astro:assets";
import validW3C from "@banners/valid-html5.gif";
import neoCities from "@banners/n.gif";
import inclusivePride from "@banners/inclusive_pride.gif";
import agender from "@banners/agender.gif";
import asexual from "@banners/asexual.gif";


---

<footer>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><Picture width="88" height="31" src={validW3C} alt="Validé par le W3C" /></a>
    <a href="https://neocities.org/" target="_blank">
    <Picture width="88" height="31" src={neoCities} alt="NeoCities" /></a>
    <Picture width="88" height="31" src={inclusivePride} alt="drapeau progressif des fiertés" />
    <Picture width="88" height="31" src={agender} alt="Drapeau agenre - gender? no thx (genre ? non merci)" />
    <Picture width="88" height="31" src={asexual} alt="Drapeau asexuel - make laugh not war (faites l'humour pas la guerre)" />
</footer>

<style>
    footer a {
        text-decoration: none;
    }
</style>