---
import { Picture } from "astro:assets";
import validW3C from "@banners/valid-html5.gif";
import nekoweb from "@banners/nekoweb.gif";
import inclusivePride from "@banners/inclusive_pride.gif";
import agender from "@banners/agender.gif";
import asexual from "@banners/asexual.gif";


---

<footer>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><Picture width="88" height="31" src={validW3C} alt="Validé par le W3C" /></a>
    
    <a href="https://nekoweb.org/" target="_blank"><Picture src={nekoweb} alt="nekoweb - web is for cats (le web est pour les chats)" width="88" height="31"></a><!-- button by max.nekoweb.org -->
    <Picture width="88" height="31" src={inclusivePride} alt="drapeau progressif des fiertés" />
    <Picture width="88" height="31" src={agender} alt="Drapeau agenre - gender? no thx (genre ? non merci)" />
    <Picture width="88" height="31" src={asexual} alt="Drapeau asexuel - make laugh not war (faites l'humour pas la guerre)" />
</footer>

<style>
    footer a {
        text-decoration: none;
    }
</style>